
*{
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower');


header{
	background-color: purple;
	border-bottom:15px solid black;
	padding: 10px 50px;
	overflow: hidden;
}

nav{
	overflow: hidden;
	color: green;
	float: right;
	display: none;
}

a{
	color: green;
}

footer{
	background-color: purple;
	color: yellow;
	padding: 30px;
	font-size: 15px;
}

ul{
	list-style-type: none;
}


#intro h1{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 70px;
	color: yellow;
	overflow: hidden;
}

#intro p{
	text-transform: lowercase;
	font-size: 40px;
	margin-left: 20%;
}
#intro nav ul li{
	float: right;
	list-style: none;
	margin-right: 5px;
	font-size: 20px;
	padding-right: 10px;
	font-family: 'Inconsolata', monospace;
	/*display: none;*/
}

.hamburgerMenu{
	float: right;
	width: 100px;
	display: inline;
	position: absolute;

}

hr{
	padding-bottom: 5px;
    border: 0;
    height: 4px;
    background-color: green;
    margin: 10px;
    border-radius: 2px;
}

#blurb{
	width: 100%;
	padding-bottom: 35%;
	background:url(../images/veggies.jpeg) no-repeat center center;
	background-size: cover;
}

#blurb h2{
	padding-top: 20px;
	padding-bottom: 30px;
	color: white;
	font-size: 50px;
	margin-left: 70px;
}

.join{
	margin-left:30%;
	padding-top: 100px;

}

#email {
	padding: 10px;
	width: 40%;
	margin-right: 15px;
	background-color: white;
}

input {
	color: black;
	background-color: yellow;
	width: 10%;
	padding: 10px;
	border-radius: 5px;
}



#cat{
	overflow: hidden;
	padding: 5px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: auto;
	background-color: grey;

}

h2{
	color: yellow;
}

h2.changeColor{
	color: green;
}

.recipes {
	border: 3px;
	width: 100%;
	display: inline;
	margin: auto;
	padding: 5px;
	color: yellow;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	background-color: rgba(255,255,255,0.7);
}


.restaurants {
	border: 3px;
	width: 100%;
	display: block;
	margin: auto;
	padding: 10px;
	padding-bottom: 20px;
	color: yellow;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	background-color:rgba(255,255,255,0.7);
}

.goods {
	border: 3px;
	width: 100%;
	display: inline;
	margin: auto;
	padding: 10px;
	padding-bottom: 60px;
	color: yellow;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	background-color:rgba(255,255,255,0.7);
}

.recipes ul {
	color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	margin-left: 15px;

}

.restaurants ul{
	color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	margin-left: 15px;
}

.goods ul{
	color: black;
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	margin-left: 15px;
}



/*desktop version*/
@media (min-width: 768px){
	nav{
		overflow: hidden;
		color: green;
		float: right;
		display: inline;
}

.recipes
{	
	width: 33%;
	margin-right: .3%;
	float: left;
}
.restaurants
{	
	width: 33%;
	margin-right: .3%;
	float: left;
}
.goods
{	
	width: 33%;
	margin-right: .3%;
	float: right;
}

.hamburgerMenu{
	display: none;
	
}

}
